/* Input */
:root {
    --input-bg: var(--white);
    --input-border: 2px solid var(--keyline);
    --input-padding: 12px 10px;
    --input-border-radius: 4px;

    --input-bg-focus: var(--white);
    --input-border-focus: 2px solid var(--primary);

    --input-success-border: 2px solid var(--success-color);
    --input-success-bg: var(--success-color);
    --input-warning-border: 2px solid var(--warning-color);
    --input-warning-bg: var(--warning-color);

    --label-color: var(--base-font-color);
    --label-font-weight: var(--base-font-weight-semibold);
    --label-font-weight-alt: var(--base-font-weight-normal);
    --label-required-content: " *";
    --label-required-color: var(--warning-color);
}

.e-input {
    appearance: none;
    background: var(--input-bg);
    border: var(--input-border);
    border-radius: var(--input-border-radius);
    display: block;
    padding: var(--input-padding);
    width: 100%;
}

.e-input:focus {
    background: var(--input-bg-focus);
    border: var(--input-border-focus);
    outline: 0;
}
.e-input:not(:placeholder-shown):invalid {
    background: var(--input-bg);
    border: var(--input-warning-border);
}

.e-input--empty:not(:placeholder-shown):invalid {
    background: var(--input-bg);
    border: var(--input-border);
}

.e-input:valid {
    background: var(--input-success-border);
    border: var(--input-success-border);
}

.e-label {
    color: var(--label-color);
    font-weight: var(--label-font-weight);
}

.e-label--required::after {
    content: var(--label-required-content);
    color: var(--label-required-color);
}

.e-checkbox__input ~ .e-label {
    font-weight: var(--label-font-weight-alt);
}

.e-checkbox__input[disabled] ~ .e-label {
    opacity: 0.8;
}

