/*--------------------
    Colours
--------------------*/

:root {
    --primary: #1f2656;
    --primary-light: #545da6;
    --primary-lightest: #abb3f2;
    --primary-darker: #262d71;
    --primary-darkest: #060923;
    --secondary: #ffcc4d;
    --secondary-light: #ffe299;
    --white: #ffffff;
    --black: #000000;
    --keyline: #dddddd;
    --warning-color: #e84b17;
    --success-color: #009999;
}
