/*--------------------
    Colours
--------------------*/

:root {
    --primary: #201f3e;
    --primary-light: #6b60e7;
    --secondary: #ea4855;
    --secondary-light: #ff8791;
    --white: #ffffff;
    --black: #000000;
    --keyline: #dddddd;
}
