/*
    Figure
*/

:root {
    --figure-text-position: center;
    --figure-font-style: italic;
    --figure-font-size: 14px;
    --figure-font-weight: var(--base-font-weight-light);
    --figure-caption-padding: 10px;
}

.e-figure {
    display: block;
}

.e-figure .e-img {
    display: block;
    width: 100%;
}

.e-figure__caption {
    font-size: var(--figure-font-size);
    font-style: var(--figure-font-style);
    font-weight: var(--figure-font-weight);
    padding: var(--figure-caption-padding);
    text-align: var(--figure-text-position);
}
