/* ------------------------------------
    PAGE
------------------------------------ */

html,
.e-text {
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    font-family: var(--base-font-family);
    color: var(--base-font-color);
    font-weight: var(--base-font-weight-medium);
}

.e-text {
    color: inherit;
}
