/*
    Grid
*/

/* ------------------------------------
    #GRID
------------------------------------ */

:root {
    --columns: 12;
    --grid-gap: 10px;
}

.o-grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--grid-gap);
    width: 100%;
}

.o-grid__item--1\/12 {
    grid-column: span 1;
}

.o-grid__item--2\/12 {
    grid-column: span 2;
}

.o-grid__item--3\/12 {
    grid-column: span 3;
}

.o-grid__item--4\/12 {
    grid-column: span 4;
}

.o-grid__item--5\/12 {
    grid-column: span 5;
}

.o-grid__item--6\/12 {
    grid-column: span 6;
}

.o-grid__item--7\/12 {
    grid-column: span 7;
}

.o-grid__item--8\/12 {
    grid-column: span 8;
}

.o-grid__item--9\/12 {
    grid-column: span 9;
}

.o-grid__item--10\/12 {
    grid-column: span 10;
}

.o-grid__item--11\/12 {
    grid-column: span 11;
}

.o-grid__item--12\/12 {
    grid-column: span 12;
}

@media (--sm-viewport) {
    .o-grid__item--1\/12\@sm {
        grid-column: span 1;
    }

    .o-grid__item--2\/12\@sm {
        grid-column: span 2;
    }

    .o-grid__item--3\/12\@sm {
        grid-column: span 3;
    }

    .o-grid__item--4\/12\@sm {
        grid-column: span 4;
    }

    .o-grid__item--5\/12\@sm {
        grid-column: span 5;
    }

    .o-grid__item--6\/12\@sm {
        grid-column: span 6;
    }

    .o-grid__item--7\/12\@sm {
        grid-column: span 7;
    }

    .o-grid__item--8\/12\@sm {
        grid-column: span 8;
    }

    .o-grid__item--9\/12\@sm {
        grid-column: span 9;
    }

    .o-grid__item--10\/12\@sm {
        grid-column: span 10;
    }

    .o-grid__item--11\/12\@sm {
        grid-column: span 11;
    }

    .o-grid__item--12\/12\@sm {
        grid-column: span 12;
    }
}

@media (--md-viewport) {
    .o-grid__item--1\/12\@md {
        grid-column: span 1;
    }

    .o-grid__item--2\/12\@md {
        grid-column: span 2;
    }

    .o-grid__item--3\/12\@md {
        grid-column: span 3;
    }

    .o-grid__item--4\/12\@md {
        grid-column: span 4;
    }

    .o-grid__item--5\/12\@md {
        grid-column: span 5;
    }

    .o-grid__item--6\/12\@md {
        grid-column: span 6;
    }

    .o-grid__item--7\/12\@md {
        grid-column: span 7;
    }

    .o-grid__item--8\/12\@md {
        grid-column: span 8;
    }

    .o-grid__item--9\/12\@md {
        grid-column: span 9;
    }

    .o-grid__item--10\/12\@md {
        grid-column: span 10;
    }

    .o-grid__item--11\/12\@md {
        grid-column: span 11;
    }

    .o-grid__item--12\/12\@md {
        grid-column: span 12;
    }
}

@media (--lg-viewport) {
    .o-grid__item--1\/12\@lg {
        grid-column: span 1;
    }

    .o-grid__item--2\/12\@lg {
        grid-column: span 2;
    }

    .o-grid__item--3\/12\@lg {
        grid-column: span 3;
    }

    .o-grid__item--4\/12\@lg {
        grid-column: span 4;
    }

    .o-grid__item--5\/12\@lg {
        grid-column: span 5;
    }

    .o-grid__item--6\/12\@lg {
        grid-column: span 6;
    }

    .o-grid__item--7\/12\@lg {
        grid-column: span 7;
    }

    .o-grid__item--8\/12\@lg {
        grid-column: span 8;
    }

    .o-grid__item--9\/12\@lg {
        grid-column: span 9;
    }

    .o-grid__item--10\/12\@lg {
        grid-column: span 10;
    }

    .o-grid__item--11\/12\@lg {
        grid-column: span 11;
    }

    .o-grid__item--12\/12\@lg {
        grid-column: span 12;
    }
}

@media (--xl-viewport) {
    .o-grid__item--1\/12\@xl {
        grid-column: span 1;
    }

    .o-grid__item--2\/12\@xl {
        grid-column: span 2;
    }

    .o-grid__item--3\/12\@xl {
        grid-column: span 3;
    }

    .o-grid__item--4\/12\@xl {
        grid-column: span 4;
    }

    .o-grid__item--5\/12\@xl {
        grid-column: span 5;
    }

    .o-grid__item--6\/12\@xl {
        grid-column: span 6;
    }

    .o-grid__item--7\/12\@xl {
        grid-column: span 7;
    }

    .o-grid__item--8\/12\@xl {
        grid-column: span 8;
    }

    .o-grid__item--9\/12\@xl {
        grid-column: span 9;
    }

    .o-grid__item--10\/12\@xl {
        grid-column: span 10;
    }

    .o-grid__item--11\/12\@xl {
        grid-column: span 11;
    }

    .o-grid__item--12\/12\@xl {
        grid-column: span 12;
    }
}
