/*  ------------------------------------
    #Region
------------------------------------ */

:root {
    --region-gutter-vertical: var(--base-spacing-unit--large);
    --region-gutter-horizontal: 15px;
    --region-width: var(--xl-viewport);
    --region-thin-width: var(--md-viewport);
    --region-bg: var(--white);
    --region-text-color: var(--primary);
}

@media (--md-viewport) {
    :root {
        --region-gutter-vertical: calc(var(--base-spacing-unit) * 3);
        --region-gutter-horizontal: var(--base-spacing-unit);
        --region-width: var(--xl-viewport);
    }
}

.o-region {
    background-color: var(--region-bg);
    color: var(--region-text-color);
    padding-bottom: var(--region-gutter-vertical);
    padding-top: var(--region-gutter-vertical);
    position: relative;
}

.o-region__inner {
    margin: 0 auto;
    max-width: var(--region-width);
    padding-left: var(--region-gutter-horizontal);
    padding-right: var(--region-gutter-horizontal);
    width: 100%;
}

.o-region__inner--thin {
    max-width: var(--region-thin-width);
}
