/*  ------------------------------------
    #Region
------------------------------------ */

:root {
    --region-gutter-vertical: 40px;
    --region-gutter-horizontal: 15px;
    --region-width: var(--xl-viewport);
    --region-bg: var(--white);
    --region-text-color: var(--primary);
}

@media (--md-viewport) {
    :root {
        --region-gutter-vertical: 60px;
        --region-gutter-horizontal: 20px;
        --region-width: var(--xl-viewport);
    }
}

.o-region {
    background-color: var(--region-bg);
    color: var(--region-text-color);
    padding-bottom: var(--region-gutter-vertical);
    padding-top: var(--region-gutter-vertical);
}

.o-region__inner {
    margin: 0 auto;
    max-width: var(--region-width);
    padding-left: var(--region-gutter-horizontal);
    padding-right: var(--region-gutter-horizontal);
    width: 100%;
}
