/*
    Buttons
*/

:root {
    --button-font-size: 16px;
    --button-small-font-size: 14px;
    --button-large-font-size: 18px;
    --button-font-weight: var(--base-font-weight-semibold);

    --button-small-padding: 8px 12px;
    --button-padding: 14px 24px;
    --button-large-padding: 18px 32px;
    --button-gap: 15px;

    --button-border-radius: 3px;
    --button-transition: all 0.2s ease-in-out;
    --button-display: block;

    --button-disabled-bg: var(--keyline);
    --button-disabled-border: 2px solid var(--keyline);
    --button-disabled-color: var(--black);

    --button-bg: var(--secondary);
    --button-border: 2px solid var(--secondary);
    --button-color: var(--white);
    --button-hover-bg: var(--primary-darkest);
    --button-hover-border: 2px solid var(--primary-darkest);
    --button-hover-color: var(--white);

    --button-secondary-bg: var(--secondary);
    --button-secondary-border: 2px solid var(--secondary);
    --button-secondary-color: var(--white);
    --button-secondary-hover-bg: var(--secondary-light);
    --button-secondary-hover-border: 2px solid var(--secondary-light);
    --button-secondary-hover-color: var(--white);

    --button-outline-bg: transparent;
    --button-outline-border: 2px solid var(--black);
    --button-outline-color: var(--black);
    --button-outline-hover-bg: transparent;
    --button-outline-hover-border: 2px solid var(--black);
    --button-outline-hover-color: var(--white);

    --button-plain-bg: transparent;
    --button-plain-border: 2px solid transparent;
    --button-plain-color: var(--black);
    --button-plain-hover-bg: transparent;
    --button-plain-hover-border: 2px solid transparent;
    --button-plain-hover-color: var(--primary);
}

@media (--sm-viewport) {
    :root {
        --button-display: inline-block;
    }
}

.c-button,
.c-button--primary {
    appearance: none;
    background-color: var(--button-bg);
    border: var(--button-border);
    border-radius: var(--button-border-radius);
    color: var(--button-color);
    display: var(--button-display);
    font-weight: var(--button-font-weight);
    padding: var(--button-padding);
    text-align: center;
    text-decoration: none;
    transition: var(--button-transition);
    cursor: pointer;
    width: 100%;
}

.c-button + .c-button {
    margin-top: var(--button-gap);
}

@media (--sm-viewport) {
    .c-button {
        width: auto;
    }

    .c-button + .c-button {
        margin-left: var(--button-gap);
    }
}

.c-button--primary:hover,
.c-button--primary:focus {
    background-color: var(--button-hover-bg);
    border: var(--button-hover-border);
    color: var(--button-hover-color);
}

.c-button--secondary {
    background-color: var(--button-secondary-bg);
    border: var(--button-secondary-border);
    color: var(--button-secondary-color);
}

.c-button--secondary:hover,
.c-button--secondary:focus {
    background-color: var(--button-secondary-hover-bg);
    border: var(--button-secondary-hover-border);
    color: var(--button-secondary-hover-color);
}

.c-button--plain {
    background-color: var(--button-plain-bg);
    border: var(--button-plain-border);
    color: var(--button-plain-color);
}

.c-button--plain:hover,
.c-button--plain:focus {
    background-color: var(--button-plain-hover-bg);
    border: var(--button-plain-hover-border);
    color: var(--button-plain-hover-color);
}

.c-button--outline {
    background-color: var(--button-outline-bg);
    border: var(--button-outline-border);
    color: var(--button-outline-color);
}

.c-button--outline:hover,
.c-button--outline:focus {
    background-color: var(--button-outline-hover-bg);
    border: var(--button-outline-hover-border);
    color: var(--button-outline-hover-color);
}

.c-button[disabled],
.c-button--disabled {
    background-color: var(--button-disabled-bg);
    border: var(--button-disabled-border);
    color: var(--button-disabled-color);
    cursor: auto;
}

.c-button--large {
    font-size: var(--button-large-font-size);
    padding: var(--button-large-padding);
}

.c-button--small {
    font-size: var(--button-small-font-size);
    padding: var(--button-small-padding);
}

@media (--sm-viewport) {
    .c-button--wide {
        width: 100%;
    }
}

.c-button--slim {
    padding-top: var(--button-small-padding);
    padding-bottom: var(--button-small-padding);
}
