/*
    List
*/

.e-list--inline {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
}

.e-list--inline .e-list__item {
    display: block;
    margin: 0 5px;
}

.e-list--inline .e-list__item:first-child {
    margin-left: 0;
}
