/*
    Heading Styles
*/

:root {
    --heading-line-height: 1.1;
    --heading-h1-size: 4rem;
    --heading-h1-weight: var(--base-font-weight-semibold);
    --heading-h2-size: 3rem;
    --heading-h2-weight: var(--base-font-weight-semibold);
    --heading-h3-size: 2.5rem;
    --heading-h3-weight: var(--base-font-weight-semibold);
    --heading-h4-size: 2rem;
    --heading-h4-weight: var(--base-font-weight-semibold);
    --heading-h5-size: 1.6rem;
    --heading-h5-weight: var(--base-font-weight-semibold);
    --heading-h6-size: 1.2rem;
    --heading-h6-weight: var(--base-font-weight-semibold);
}

@media (--md-viewport) {
    :root {
        --heading-line-height: 1.1;
        --heading-h1-size: 4.5rem;
        --heading-h1-weight: var(--base-font-weight-semibold);
        --heading-h2-size: 3.5rem;
        --heading-h2-weight: var(--base-font-weight-semibold);
        --heading-h3-size: 3rem;
        --heading-h3-weight: var(--base-font-weight-semibold);
        --heading-h4-size: 2.5rem;
        --heading-h4-weight: var(--base-font-weight-semibold);
        --heading-h5-size: 2rem;
        --heading-h5-weight: var(--base-font-weight-semibold);
        --heading-h6-size: 1.6rem;
        --heading-h6-weight: var(--base-font-weight-semibold);
    }
}

.e-heading,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: var(--heading-line-height);
}

.e-heading--h1,
h1 {
    font-size: var(--heading-h1-size);
    font-weight: var(--heading-h1-weight);
}

.e-heading--h2,
h2 {
    font-size: var(--heading-h2-size);
    font-weight: var(--heading-h2-weight);
}

.e-heading--h3,
h3 {
    font-size: var(--heading-h3-size);
    font-weight: var(--heading-h3-weight);
}

.e-heading--h4,
h4 {
    font-size: var(--heading-h4-size);
    font-weight: var(--heading-h4-weight);
}

.e-heading--h5,
h5 {
    font-size: var(--heading-h5-size);
    font-weight: var(--heading-h5-weight);
}

.e-heading--h6,
h6 {
    font-size: var(--heading-h6-size);
    font-weight: var(--heading-h6-weight);
}
