/*
    Anchor
*/

:root {
    --anchor-color: var(--primary);
    --anchor-hover-color: var(--primary-light);
    --anchor-border: 1px solid var(--primary);
    --anchor-hover-border: 1px dashed var(--primary-light);
}

.e-link,
a:not([class]) {
    border-bottom: var(--anchor-border);
    color: var(--anchor-color);
    text-decoration: none;
}

.e-link:hover,
.e-link:focus,
a:not([class]):hover,
a:not([class]):focus {
    border-bottom: var(--anchor-hover-border);
    color: var(--anchor-hover-color);
}
