/*
    Blockquote Styles
*/

:root {
    --blockquote-border: 4px solid var(--primary-light);
    --blockquote-font-style: italic;
}

.e-blockquote {
    border-left: var(--blockquote-border);
    font-style: var(--blockquote-font-style);
    margin-left: 20px;
    padding: 20px 40px;
}
