/* ------------------------------------
    FONTS
------------------------------------ */
:root {
    --base-font-size: 16px;
    --base-line-height: 1.6;
    --base-font-family: Avenir, 'Avenir Next', 'Helvectica Neue',
        sans-serif;
    --base-font-color: var(--primary);
    --base-font-weight-light: 300;
    --base-font-weight-medium: 400;
    --base-font-weight-semibold: 600;
    --base-font-weight-bold: 700;
}

@media (--md-viewport) {
    :root {
        --base-font-size: 18px;
        --base-line-height: 1.6;
    }
}
